.npmignore
.gitignore
CMakeLists.txt
*.cmake
merge.sh

/po
/doc
/data/scripts
/data/scheme
/src/wrapper
/build
/debug
/release
/other
/debug.sh
/release.sh
/opencc.pc.in
/opencc.gyp
/INSTALL
/doc/html
/opencc.xcodeproj
