.npmignore
.gitignore
CMakeLists.txt
*.cmake
*.pyc
*.cmd
*.tgz

/.github
/.vscode
/.appveyor.yml
/.clang-format
/.travis.yml
/Makefile
/src/*Test.cpp
/src/*TestBase.cpp
/doc
/data/scheme
/deps/google-benchmark
/deps/gtest*
/deps/pybind*
/deps/tclap*
/build
/debug
/dist
/release
/other
/opencc.pc.in
/doc/html
/opencc.xcodeproj
/python
/src/benchmark
/test/benchmark
/test/dict.ocd
/test/dict.txt
/test/dict.bin
/test/CommandLineConvertTest.cpp
/node_modules
/xcode
/*.egg-info
