graft src
graft deps
graft test
graft data
graft plugins
graft doc
graft cmake
include AUTHORS CMakeLists.txt OpenCCConfig.cmake.in opencc.pc.in README* LICENSE*
global-exclude *~ *.py[cod] *.so
include python/**/__init__.py
graft python/tests
