name: CMake

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-14]
    steps:
      - uses: actions/checkout@v4
      - name: make build
        run: make build VERBOSE=1 REL_BUILD_DOCUMENTATION=OFF
      - name: make test
        run: make test VERBOSE=1
      - name: make benchmark
        run: make benchmark VERBOSE=1
      - name: upload artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: opencc-cmake-${{ matrix.os }}
          path: |
            build/rel/**
            build/dbg/**
            build/perf/**
