name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install doxygen
      run: sudo apt-get install doxygen
    - name: make build
      run: make build VERBOSE=1
    - name: make test
      run: make test VERBOSE=1
    - name: make benchmark
      run: make benchmark VERBOSE=1
