name: mingw-w64

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@v2
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: pacman -S --noconfirm base-devel mingw-w64-x86_64-toolchain cmake ninja python
      - name: Build with mingw-w64
        run: |
          CC=/mingw64/bin/cc CXX=/mingw64/bin/c++ cmake \
            -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=/usr \
            -DENABLE_GTEST=ON \
            -DBUILD_SHARED_LIBS=OFF
          cmake --build build
      - name: Run test
        run: |
          cd build
          ctest
      - name: upload artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: opencc-mingw
          path: |
            build/**
